* {
    box-sizing: border-box;
}

#container {
    display: flex;
    width: 500px;
    height: 400px;
    border: 5px solid black;
    align-items: center;
}

#orta-container {
    display: flex;
    width: 340px;
    height: 400px;
    margin: 0 auto;
    border: 5px solid black;
}

#kucuk-container {
    margin: auto;
    display: flex;
    width: 340px;
    height: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

.turuncudiv {
    display: flex;
    width: 100px;
    height: 90px;
    background-color: orange;
    align-self: center;
    border: 4px solid black;
    margin: 5px;
}


.pembediv {
    display: flex;
    width: 100px;
    height: 90px;
    background-color: pink;
    align-self: center;
    border: 4px solid black;
    margin: 5px;
}

.item {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: skyblue;
}