* {
    box-sizing: border-box;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    justify-content: center;
}

#grid-container2 {
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    justify-content: center;
}

.grid-items {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.grid-items img {
    border: 1px solid red;
    width: 100px;
    border-radius: 15px;
}

.grid-items:nth-last-col {
    justify-content: center;
}